h1{
    color: #8a2be2;
}
.facts1{
    display: flex;
    justify-content: left;
    color: #006400; 
    margin: 0px;
}
.facts2{
    display: flex;
    justify-content: left;
    color: #00008b; 
    margin: 0px;
}
.facts3{
    display: flex;
    justify-content: left;
    color: #ff9900; 
    margin: 0px;
}
.facts4{
    display: flex;
    justify-content: left;
    color: #ff0000; 
    margin: 0px;
}

.info{
    justify-content: left;
}